.optionAnalytics{
    padding: var(--compPadding);
}

.optionAnalyticsContainer{
    display: flex;
   
}

.optionAnalyticsLeft{
    flex: .1;
}
.optionAnalyticsCenter{
    flex :.65;

    padding: 10px 0px 10px 150px;
}
.optionAnalyticsRight{
    flex: .25;
}

.optionAnalyticsField {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* align-items: center; */
}
.optionAnalyticsField input {
    border:none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    background-color: var(--aboveSurface);
    color: var(--primaryColor);
  }

.optionAnalyticsFieldsContainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;

}
.optionAnalyticsFieldContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    /* margin-left: 20px; */
    
}
.renderChartContainer{
    width: 70%;
}
.chartButtonContainer{
    display: flex;

}
.chartButtonContainer button{
    margin-left: 5px;

}

.optionsAnalyticsStatsContainer {
    background-color: var(--aboveSurface);
    padding: 10px 20px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    /* position: fixed; */
    /* width: 100%; */
}
.optionAnalysisResult{
    font: var(--subheading);
    color: var(--primaryColor);
    margin-left: 20px;
    padding: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}
.optionAnalyticsHeadingContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}