.addTradeForm {
  background-color: white;
  width: 25%;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.formField {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.formField input {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
}
.submitButton {
  padding: 15px 30px;
  background: linear-gradient(45deg, #66e3c4, #2bfcc8);
  color: white;
  border: none;
  border-radius: 5px;
}
.addNewTradeHeading {
  color: #cdcdcd;
  font-size: 18px;
}
.formField input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.addFormContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .addTradeForm {
    width: 75%;
  }
}
