.tradeDetailsTextContainer {
  display: flex;
  justify-content: center;
}
.tradeDetailsHeader {
  width: 100%;
  height: 100px;
  background: linear-gradient(45deg, #7474bf, #348ac7);
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.tradeDetailBadge {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.tradeDetailsTextContainer {
  padding: 40px;
  background-color: white;
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  width: 50%;
}
.tradeDetailsTextContainerRight {
  margin-left: 50px;
}
.editBtnContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
  max-width: inherit;
}
.goBackButton {
  color: white;
}
.goBackButton:hover {
  cursor: pointer;
}
