* {
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  /* position: s; */
  background-color: white;
}

.header-center span {
  margin-left: 30px;
  color: #2d2d2d;
}
.header-left {
  color: #003c62;
}
