.main {
  padding: 10px;
}
* {
  text-decoration: none;

  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f7f7f7;
}
a:hover {
  color: none;
}
.btn {
  padding: 15px 30px;
  border-radius: 5px;
}
.primaryBtn {
  background: linear-gradient(45deg, #66e3c4, #2bfcc8);
  color: white;
  border: none;
  cursor: pointer;
}
.secondryBtn {
  border: 1px solid #c0c0c0;
  cursor: pointer;
  color: #2d2d2d;
}
.marginleft {
  margin-left: 20px;
}
.primaryBtn:hover {
  color: #b7ffed;
  background: #66e3c4;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.secondryBtn:hover {
  color: #2c2c2c;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.mainValue {
  font-weight: bold;
}
input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.tertiaryBtn {
  background: transparent;
  color: white;
  border: 1px solid #c0c0c0;
}
.tertiaryBtn:hover {
  color: #2c2c2c;
  cursor: pointer;
  background-color: white;
}
