.main {
  padding: 10px;
}
* {
  text-decoration: none;

  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  --primaryColor: #2d2d2d;
  --secondaryColor: #c0c0c0;
  --blueColor: #ced1f4;
  --lightblueColor: #e0e7ea;
  --pinkColor: #e4c0cd;
  --bodyCopy: 15px;
  --subheading: 18px;
  --heading: 32px;
  --greenColor: #00e08e;
  --redColor: #e10015;
  --lightWhiteColor: #f7f7f7;
  --borderColor: #c0c0c0;
  --btnpadding: 15px 30px;
  --shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  --breadCrums: 14px;
  --white: #ffffff;
  --compPadding: 150px 0 0 0;
}
.subHeading {
  font-size: var(--subheading);
  color: var(--primaryColor);
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--primaryColor);
}
.active {
  background-color: var(--);
}
.btn {
  padding: var(--btnpadding);
  border-radius: 5px;
}
.primaryBtn {
  background: var(--primaryColor);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: var(--bodyCopy);
  border: 1px solid var(--primaryColor);
}
.secondryBtn {
  border: 1px solid var(--borderColor);
  cursor: pointer;
  color: var(--primaryColor);
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: var(--bodyCopy);
  background-color: var(--white);
}
.marginleft {
  margin-left: 20px;
}
.primaryBtn:hover {
  color: var(--primaryColor);
  background: var(--white);
  border: 1px solid var(--borderColor);
  transition: 100ms;
  text-align: center;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
}
.secondryBtn:hover {
  color: var(--primaryColor);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.mainValue {
  font-weight: bold;
}

input:focus {
  border: solid 1px var(--borderColor);
  outline: none;
}
textarea {
  border: solid 1px var(--borderColor);
  border-radius: 5px;
}
textarea:focus {
  border: solid 1px var(--borderColor);
  outline: none;
}
.tertiaryBtn {
  background: transparent;
  color: white;
  border: 1px solid #c0c0c0;
}
.tertiaryBtn:hover {
  color: #2c2c2c;
  cursor: pointer;
  background-color: white;
}
.input {
  padding: 10px 50px 10px 5px;
  border: solid 1px var(--borderColor);
  border-radius: 5px;
}
.black {
  background-color: var(--primaryColor);
}
.grey {
  background-color: var(--secondaryColor);
}
.colorGreen {
  color: var(--greenColor);
  font-weight: bold;
}
.colorRed {
  color: var(--redColor);
  font-weight: bold;
}
.heading {
  color: var(--primaryColor);
  font-size: var(--heading);
}
.formFieldLabel {
  font-size: var(--bodyCopy);
}
.marginBottom {
  margin-bottom: 50px;
}
.marginTop {
  margin-top: 20px;
}
.bodyCopy {
  font-size: var(--bodyCopy);
}
.disabledBtn {
  background-color: var(--white);
  color: var(--secondaryColor);
}
