.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px 15px 20px;
  color: var(--primaryColor);
  border-radius: 5px;
  color: var(--secondaryColor);
  width: 100%;
}
.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--aboveSurface);
  height: 100vh;
  width: 220px;
  position: fixed;

  
}
.sidebarItem:hover {
  background-color: var(--surfaceColor);
  color: var(--white);

  cursor: pointer;
  color: var(--white);
}
.sidebarItem p {
  margin-left: 50px;
  font-size: var(--breadCrums);
}
.sideBarItemsContainer {
  transition: 300ms;
}
.class-that-animates {
  transform: translateX(10%);
}
.sideBarActive{
  background-color: var(--surfaceColor)!important;
  color: var(--white)!important;
}