.dashboardContainer {
  display: flex;
  padding: var(--compPadding);
}

.dashboardLeft {
  flex: 0.1;
}
.dashboardCenter {
  padding: 0 30px;
  flex: 0.60;
  padding: 10px 80px;
}
.dashboardRight {
  flex: 0.3;
}
.dashboardGreeting {
  font-size: var(--heading);
  color: var(--primaryColor);
}
.dashboardAddNewTrades {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  /* padding: var(--compPadding); */
}
.dashboardAddNewTradesItem {
  height: 150px;
  width: 180px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  color: var(--primaryColor);
  /* margin-left: 20px; */
}
.dashboardAddNewTradesItem img {
  width: 20%;
}
.dashboardAddNewTradesItem:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
  color: var(--primaryColor);
}
.dashboardTradesEquityContainer h1 {
  font-size: var(--heading);
  color: var(--primaryColor);
  margin-top: 20px;
}
.tradeCardContainer {
  display: flex;
  border-top: 1px solid var(--borderColor);
  padding: 30px 0;
  align-items: center;
  justify-content: space-evenly;
}
.tradeCardType {
  height: 70px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  margin-right: 20px;
}
.textMain {
  padding: 0px 20px 0 0;
  color: var(--secondaryColor);
}
.textValue {
  color: var(--primaryColor);
  font-weight: bold;
}

.dashboardCardText {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}
.tickerName {
  padding: 0 50px 0 0;
}
.dashboardStatisticsContainer {
  background-color: var(--lightWhiteColor);
  padding: 0px 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  /* position: fixed; */
  /* width: 100%; */
}
.dashboardRight {
  margin-left: 50px;
}
.dashboardStatsItem {
  display: flex;
  padding: 10px 0px 10px 30px;
  margin-top: 20px;
  background-color: var(--white);
  align-items: center;
}
.dashboardStatsBullet {
  height: 10px;
  width: 10px;
  background-color: var(--primaryColor);
  margin-right: 20px;
  border-radius: 2px;
}
.dashboardStatsDescription {
  color: var(--secondaryColor);
  font-size: var(--breadCrums);
}
.dashboardStatsValue {
  color: var(--primaryColor);
  font-weight: bold;
  margin-left: 5px;
}
.arrowDropDown:hover {
  cursor: pointer;
  /* background-color: var(--secondaryColor);/ */
}
.arrowDropDownRight {
  transform: rotate(-90deg);
}
.closeEntriesShow:hover {
  cursor: pointer;
}
.dashboardInsight {
  height: 300px;
  width: 300px;
}
.dashboardFiltersContainer {
  display: flex;
}
