.optionsDashboard {
  padding: var(--compPadding);
}
.optionsDashboardContainer {
  display: flex;
}
.optionsDashbardLeft {
  flex: 0.1;
}
.optionsDashbardCenter {
  flex: 0.9;
  padding: 10px 150px;

}

.optionsDashboardHeadingContainer{
  display: flex;
  align-items: center;
  margin-bottom: 20px
}
.optionsDashboardHeadingContainer button {
  margin-left: 20px;
}
.dashboardFiltersContainer{
  display: flex;
  align-items: center;
}

.optionsTable{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 25px

}
.optionsTableHeading{
  padding: 8px;
  color: var(--secondaryColor);
}

.optionsTableRowContainer td {
  padding: 8px;
  color: var(--primaryColor);
  font-size: var(--bodyCopy);
  margin-top: 150px!important;
}

.optionsTableRowContainer {
  margin-top: 150px!important;
}
.dashboardChartContainer{
  padding:  50px 0px;
}

.optionsDashboardOptionsContainer{
  margin-top: 100px;
}
.reactSelect__value-container{
  /* min-height: 200px!important;
  background-color: black; */
  padding: 15px 50px 15px 5px;
  background-color: var(--aboveSurface);
  border: none;
  
}
.reactSelect__dropdownIndicator { 
  border: none;
  background-color: var(--aboveSurface);
  color: black;
}
.tableTD{
  color: var(--primaryColor);
  font-size: var(--bodyCopy);
}