.addOptionsTradeForm {
  padding: var(--compPadding);
}
.addOptionsTradeContainer {
  /* background-color: rgba(0, 0, 0, 01); */
padding-top: 100px;
  display: flex;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.addOptionsTradeForm {
  /* background-color: var(--white); */
  /* height: 25%; */
  /* padding: 30px 100px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}
.submitBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.previewOptionsItem div {
  color: var(--primaryColor);
  font-size: var(--bodyCopy);
  font-weight: bold;
}
.previewOptionsItem span {
  color: var(--secondaryColor);
  font-weight: normal;
  font-size: var(--bodyCopy);
}

.previewOptionsTrade {
  justify-content: center;
  display: flex;
  /* background: url(../../assets/images//previewtrade.jpg); */
  /* background-color: var(--borderColor); */
  height: 100%;
  width: 100%;
}
.previewOptionHeadContainer {
  display: flex;
  align-items: center;
}
.previewOptionsTradeContainer {
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 25px 50px; */
  border-radius: 20px;

  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}
.previewOptionsItemContainer {
  justify-content: center;
}

.previewOptionsContainer{
/* background-color: black; */
display: flex;
justify-content: space-around;
width: 100%;
}
.addOptionsTradeLivePreviewContainer {
  margin-right: 30px;
  background-color: var(--white);
}
.addOptionLeg {
  display: flex;
  justify-content: space-around;
}
.addOptionLegHeading {
  /* border-bottom: solid 1px var(--borderColor); */
  padding-bottom: 20px;
}
.addOptionsLegRight {
  margin-left: 50px;
}
.formFiedlAddTags {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  border: none!important;
  justify-content: space-between;
}
.addNewLegGenDetails {
  display: flex;
  justify-content: center;
}
.addNewLegGenDetails {
  color: var(--secondaryColor);
}
.previewOptionsLeft{
  margin-right: 150px;
}

.previewBtn {
  /* margin-top: 20px; */
  padding: 10px 100px;
  border-radius: 5px;
}
.formFieldPreview{
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin-top: 20px;
  /* align-items: center; */
  color:  var(--secondaryColor);
  border: none!important;
  align-items: center;
  justify-content: space-between;
}
.formFieldPreview input {
  border: none!important;
  background-color: var(--aboveSurface);
  border-radius: 5px;
  padding: 10px;
  /* margin-left: 20px; */
  color: var(--primaryColor);


}