.addOptionsTradeForm {
  padding: var(--compPadding);
}
.addOptionsTradeContainer {
  /* background-color: rgba(0, 0, 0, 01); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../assets/images/addOptionsBackground.jpg);
  display: flex;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.addOptionsTradeForm {
  background-color: var(--white);
  /* height: 25%; */
  padding: 30px 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.submitBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.previewOptionsItem div {
  color: var(--primaryColor);
  font-size: var(--bodyCopy);
  font-weight: bold;
}
.previewOptionsItem span {
  color: var(--secondaryColor);
  font-weight: normal;
  font-size: var(--bodyCopy);
}

.previewOptionsTrade {
  justify-content: center;
  display: flex;
  /* background: url(../../assets/images//previewtrade.jpg); */
  /* background-color: var(--borderColor); */
  height: 100%;
}
.previewOptionHeadContainer {
  display: flex;
  align-items: center;
}
.previewOptionsTradeContainer {
  height: 100%;
  width: 100%;
  /* padding: 25px 50px; */
  border-radius: 20px;

  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}
.previewOptionsItemContainer {
  justify-content: center;
}

.addLegContainer {
  /* padding: var(--compPadding); */
}
.addOptionsTradeLivePreviewContainer {
  margin-right: 30px;
  background-color: var(--white);
}
.addOptionLeg {
  display: flex;
  justify-content: space-around;
}
.addOptionLegHeading {
  /* border-bottom: solid 1px var(--borderColor); */
  padding-bottom: 20px;
}
.addOptionsLegRight {
  margin-left: 50px;
}
