.closeOption {
  padding: var(--compPadding);
  display: flex;
  justify-content: center;
}
.formFieldIdentifyOptionContainer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.formFieldIdentifyOptionContainer div {
  font-size: var(--bodyCopy);
  margin-top: 20px;
}

.textDescription {
  color: var(--secondaryColor);
}
